/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/css
/public/js
/public/mix-manifest.json
/.settings
.project
.buildpath
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.backup
docker-compose.override.yml
npm-debug.log
yarn-error.log
/.idea
/.vscode
