body{
  width: 100%;
  text-align: center;
}

.wide_screen{
  margin: 5% auto;
  width: 80%;
  text-align: left;
}


form input{
  margin: 0px 10px 10px;
  padding: 5px;
  
  &.input-error{
    border: 1px solid red;
  }
}